.main {
  padding-top: -50px;
}

.message {
  position: relative;
  right: 15px;
  top: 85px;
  height: 32px;
  background-color: #3e3c3d;
  color: #d9d9d9;
  margin-left: 20px;
  margin-bottom: 10px;
  line-height: 32px;
  box-shadow: 3px 3px 3px rgba(37, 10, 61, 0.7);
}

.message:hover {
  background-color: #292929;
}

.msgText {
  float: left;
}

.msgIcon {
  margin: 7px;
  float: left;
}

#modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0px;
  top: 50px;
  width: 100%;
  height: 100%;
  background-color: rgba(37, 10, 61, 0.5);
}

#modalInfo {
  background-color: #9a8da2;
  margin: 5% auto;
  padding: 20px;
  border: 3px solid #30113b;
  height: 40%;
  max-width: 500px;
  overflow-y: auto;
  box-shadow: 10px 10px 10px rgba(37, 10, 61, 0.7);
}

#modalImg {
  float: left;
}

#modalText {
  float: left
}

p a {
  color: #6441A4
}

p a:hover {
  color: #48326f
}
