<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="./stylesheet.css">
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.min.js"></script>
<title>Twitch guide</title>
</head>
<body>
<div class="top"><span><div class="menu">
	<a href="/"><h3 class="menuItem">Home</h3></a>
	<a href="/over"><h3 class="menuItem">Over</h3></a>
	<a href="/layout"><h3 class="menuItem">Layout</h3></a>
	<a href="/icons"><h3 class="menuItem">Icons</h3></a>
</div></span></div>
