<!DOCTYPE html>
<html lang="en">
<head>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="./stylesheet.css">
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react-dom.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.7.7/babel.min.js"></script>
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
<script src="https://unpkg.com/react@15/dist/react.min.js"></script>
<script src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
$(document).ready(function () {
	var loc = $('.menu').find('a').attr('href');
	var url = location.href.split('/')
	var urlEnd = "/" + url[url.length - 1]
	var div = $('a[href^="'+urlEnd+'"]')[0];
  $(".menu a").removeClass("active");
  $(div).children().addClass('active');
});
</script>
<title>Twitch guide</title>
</head>
<body>
<div class="col-md-12 top navbar-fixed-top"><span><div class="menu">
	<h4 class="menuItem">NL Twitch Guide</h4>
	<a href="/"><h4 class="menuItem">Home</h4></a>
	<a href="/over"><h4 class="menuItem">Over</h4></a>
	<a href="/chat"><h4 class="menuItem">Chat</h4></a>
	<a href="/navigatie"><h4 class="menuItem">Navigatie</h4></a>
	<a href="/plugins"><h4 class="menuItem">Plugins</h4></a>
	<a href="/live"><h4 class="menuItem">Zelf livestreamen</h4></a>
</div></span></div>
<div class="container-fluid"><div class="row">
