.top {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	background-color: #4b317c;
	height: 60px;
	z-index: 1;
	box-shadow: 0px 6px 6px rgba(37, 10, 61, 0.7);
}

.main {
	top: 65px;
	background-color: #9c909c;
	margin: 20px;
	box-shadow: 2px 2px 2px rgba(37, 10, 61, 0.7);
}

.navRow {
	padding-left: 15px;
}

.submain {
	position: relative;
	top: 65px;
	background-color: #9c909c;
	margin: auto;
	margin-top: 20px;
	width: 70%;
	padding: 10px;
	box-shadow: 2px 2px 2px rgba(37, 10, 61, 0.7);
}

.submain h2 {
	margin-top: 0px;
}

.submain b {
	font-size: 18px;
}

.main a {
	color: #6441A4
}

.menuItem {
	position: relative;
	padding-left: 20px;
	padding-right: 20px;
	top: 0px;
	line-height: 100px;
	margin-top: -20px;
	margin-left: -5px;
	height: 80px;
	color: #9c909c;
}

.menu {
	padding-left: 5px;
}

a .menuItem:hover {
	background-color: #352355;
}

.active {
	background-color: #352355;
}

#aboutTwitch {
	position: absolute;
	left: 580px;
	top: 80px;
	margin-bottom: 20px;
	overflow-y: auto;
	bottom: 0px;
}

html, .row {
	background-color: #8c74b9;
	font-family: 'Roboto', sans-serif;
	min-width: 550px;
}

h4 {
	display: inline-block;
	padding-right: 40px;
}

a {
	text-decoration: none;
	color: #929292;
}

span {
	display: flex;
	align-items: center;
	vertical-align: middle;
}
