.top {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	background-color: #4b317c;
	height: 60px;
	z-index: 1;
}

.main {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	top: 60px;
	background-color: grey;
	padding-left: 20px;
	padding-right: 20px;
	width: 500px;
	margin: 20px;
	overflow-y: auto;
}

.main h2 {
	padding-top: 10px;
}

.main a {
	color: #6441A4
}

.menuItem {
	position: relative;
	padding-left: 20px;
	padding-right: 20px;
	top: 0px;
	line-height: 100px;
	margin-top: -20px;
	height: 80px;
}

.menu {
	padding-left: 20px;
}

.menuItem:hover {
	background-color: #352355;
}

html {
	background-color: #6441A4;
	font-family: 'Roboto', sans-serif;
}

h3 {
	display: inline-block;
	padding-right: 40px;
}

a {
	text-decoration: none;
	color: #929292;
}

span {
	display: flex;
	align-items: center;
	vertical-align: middle;
}
