.top {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	background-color: #4b317c;
	height: 60px;
	z-index: 1;
	box-shadow: 0px 6px 6px rgba(37, 10, 61, 0.7);
}

.hidden {
	display: none;
}

#dropdown-menu {
	position: relative;
	display: inline-block;
	text-align: center;
	left: 20px;
	top: 10px;
	color: #e2e2e2;
	margin-left: 50px;
}

#menuCont {
	display: none;
	top: 10px;
	margin-right: 40px;
	background-color: #5d3d9a;
	box-shadow: 2px 2px 2px rgba(37, 10, 61, 0.7);
	z-index: 1;
}

.dropdown:hover #menuCont {
  display: block;
}

.main {
	top: 65px;
	min-width: 300px;
	background-color: #e2e2e2;
	margin: 20px;
	box-shadow: 2px 2px 2px rgba(37, 10, 61, 0.7);
}

.navRow {
	padding-left: 15px;
}

.submain {
	position: relative;
	top: 65px;
	background-color: #e2e2e2;
	margin: auto;
	margin-top: 20px;
	width: 70%;
	padding: 10px;
	box-shadow: 2px 2px 2px rgba(37, 10, 61, 0.7);
}

.submain h2 {
	margin-top: 5px;
}

.submain h3 {
	margin-top: 5px;
}

.submain b {
	font-size: 18px;
}

.main a, .submain a {
	color: #7d5bba
}

.menuItem {
	position: relative;
	padding-left: 20px;
	padding-right: 20px;
	top: 0px;
	line-height: 100px;
	margin-top: -20px;
	margin-left: -5px;
	height: 80px;
	color: #e2e2e2;
}

.menuItemDrop {
	position: relative;
	padding-left: 20px;
	padding-right: 20px;
	top: 0px;
	width: 100%;
	line-height: 100px;
	height: 60px;
	line-height: 60px;
	color: #e2e2e2;
}

a .menuItemDrop:hover {
	background-color: #352355;
}

.menu {
	text-align: center;
	width: 1000px;
	margin-left: -5px;
}

a .menuItem:hover {
	background-color: #352355;
}

.active {
	background-color: #352355;
}

#aboutTwitch {
	position: absolute;
	left: 580px;
	top: 80px;
	margin-bottom: 20px;
	overflow-y: auto;
	bottom: 0px;
}

#pa {
	margin-top: 85px;
}

html, .row {
	background-color: #ffffff;
	font-family: 'Roboto', sans-serif;
}

h4 {
	display: inline-block;
	padding-right: 40px;
}

a {
	text-decoration: none;
	color: #929292;
}

span {
	display: flex;
	align-items: center;
	vertical-align: middle;
}
