#xD {
	padding-top: 10px;
}

.aboutTwitch {
	width: 1080px;
	position: relative;
	display: block;
	margin: 0 auto;
	margin-bottom: 20px;
	bottom: 0px;
	float: none;
}

.aboutTwitch img {
	overflow: hidden;
	display: block;
	margin: auto;
}

#abTwitch {
	display: block;
	padding: 10px;
	padding-top: 0px;
}

.click {
  position: absolute;
  opacity: 0.2;
}

#modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(37, 10, 61, 0.5);
}

#modalInfo {
  background-color: #9a8da2;
  margin: 5% auto;
  padding: 20px;
  border: 3px solid #30113b;
  height: 60%;
  width: auto;
  overflow-y: auto;
  box-shadow: 10px 10px 10px rgba(37, 10, 61, 0.7);
}

#modalText {
  float: left;
  width: 300px;
}

#modalImg {
  float: right;
  overflow-y: auto;
}

#whispers {
	z-index: 10;
  width: 30px;
  top: 1054px;
  height: 26px;
  right: 194px;
}

#followSub {
	position: absolute;
 	width: 140px;
	height: 35px;
 	top: 235px;
 	left: 730px;
}

#channelInfo {
  width: 420px;
  top: 235px;
  height: 35px;
  left: 195px;
}

#aanbevolenKanalen {
  width: 135px;
  top: 660px;
  height: 100px;
  left: -15px;
}

#aanbevolenVrienden {
	width: 135px;
  top: 760px;
  height: 140px;
  left: -15px;
}

#infoPanels {
  width: 390px;
  top: 803px;
  height: 277px;
  left: 475px;
}

#feed {
  width: 350px;
  top: 803px;
  height: 277px;
  left: 130px;
}

#login {
  width: 140px;
  top: 0px;
  height: 28px;
  right: 0px;
}

#volgenBladeren {
  width: 550px;
  top: 0px;
  height: 28px;
  left: -15px;
}

#vrienden {
  width: 135px;
  top: 200px;
  height: 460px;
  left: -15px;
}

#titleGame {
  width: 721px;
  top: 759px;
  height: 45px;
  left: 136px;
}

#playerVod {
  width: 721px;
  top: 280px;
  height: 480px;
  left: 136px;
}

#chat {
  width: 190px;
  top: 28px;
  height: 1052px;
  right: 0px;
}

.aboutTwitch div.click:hover {
  margin-left: 15px;
  background-color: #660388;
  cursor: pointer;
}

body {
	padding-top: 60px;
}
