<% include ../static/header.ejs %>
<div class="col-md-4 main">
<h2>Twitch chat</h2>
<p>
  In de Twitch chat heb je heel veel mensen die met ze allen aan het chatten zijn.
  In de ene chat zijn zijn er wat meer mensen bezig met chatten dan in de ander.<br>
  Meeste Twitch chats worden bepaalde regels gehandhaafd die zijn opgesteld door de streamer.
  Meestal kan je deze regels lezen in de info panels onder de stream (zie <a href="/over">Over</a> voor meer info).
  Het is altijd handig om eerst even de regels te lezen voordat je gaat chatten.<br>
  Elke chat is anders. In elke chat heb je moderators die de chat in de gaten houden. Hiernaast heb je in sommige
  kanalen ook subscribers (hierover meer in Partner). In een chat hoeft niet altijd iedereen te praten. Veel mensen
  vinden het namelijk ook fijn om gewoon alleen de stream te kijken of het op de achtergrond aan te hebben. Deze mensen
  staan ook wel bekend als 'lurkers'. Zij zorgen er dus voor dat er minder mensen praten dan dat er kijkers zijn.
  <br><br>

  <b>Emotes</b><br>
  In Twitch chat communiceer je door te praten, maar je kan niet elk gevoel uiten in woorden. Daarom zijn er emotes op Twitch!
  Je kan emotes zien als plaatsjes die vaak verbonden zijn met een gevoel of actie. Zo gebruikt men
  <img src="https://static-cdn.jtvnw.net/emoticons/v1/88/1.0"/> PogChamp als er iets gebeurd waar mensen om moeten hypen.
  <img src="https://static-cdn.jtvnw.net/emoticons/v1/25/1.0"/> Kappa is de bekendste emote van Twitch en geeft
  vaak een sarcastische toon aan. Naast deze emotes zijn er nog vele anderen. De beste manier om erachter te komen wat elke
  emote betekend of wanneer je hem gebruikt is door naar verschillende chats te kijken. De meeste emotes komen dan wel voorbij.
  <br><br>

  <b>Partner</b><br>
  Sommige kanalen streamen vaak genoeg en zijn 'bekend' genoeg om partner te krijgen. Als partner heeft de streamer een
  abonneer knop. Abonneren kost ongeveer €5,50 à €6,- euro. Door sub te worden krijg je een aantal extra's in de chat. Zo heb je
  geen last van slow-mode, kan je praten tijdens subscriber-only mode en krijg je een mooie sub badge.
  In elk land zijn de regels anders om partner te worden. Daarom kan je Nederlandse kanalen zien die al partner zijn terwijl er
  grotere kanalen in andere landen zijn die het nog niet zijn. Ook kan je niet zomaar partner worden. Hiervoor moet je al een
  tijd gestreamed hebben en wel een beetje verstand van Twitch hebben. Grote YouTubers of andere bekendheden kunnen echter sneller
  partner worden.
  <br><br>

  <b>Badges</b><br>
  Omdat er zoveel mensen zijn op Twitch, moet je ook wel een beetje onderscheidt kunnen maken tussen iedereen. Dit wordt gedaan aan
  de hand van badges. Elke badge heeft zo zijn eigen betekenis en kan op een andere machtspositie staan dan de ander. Sommigen van deze
  badges kan iedereen krijgen door geld uit te geven, de ander moeten ze krijgen via Twitch of de streamer. Deze badges staan hiernaast
  allemaal in het kort uitgelegd.
</p>
</div>
<div class="col-md-7" id="chatMsgs"></div>
<div id="modal">
  <div id="modalInfo"></div>
</div>
</body>
<script type="text/javascript" src="./chat.js"></script>
<link rel="stylesheet" type="text/css" href="./chat.css">
