<% include ../static/header.ejs %>
<div class="col-md-4 main">
<h2>Twitch chat</h2>
<p>
  In de Twitch chat heb je heel veel mensen.
  Om wat onderscheid te maken tussen deze mensen kunnen er ook mensen zijn die bepaalde icons voor hun naam hebben.
  Deze icons zeggen wat over hun 'macht' in de Twitch chat. Sommige icons zijn door ieder persoon te krijgen, anderen
  zijn maar voor een paar mensen.
</p>
</div>
<div class="col-md-7" id="chatMsgs"></div>
<div id="modal">
  <div id="modalInfo"></div>
</div>
</body>
<script type="text/javascript" src="./chat.js"></script>
<link rel="stylesheet" type="text/css" href="./chat.css">
<!--
Wat ik eigenlijk uiteindelijk wil is dat je verschillende messages ziet over heel de pagina met ieder zijn eigen icon.
Als je dan op een bericht klikt krijg je info over dit icon. Dit is voor nu zodat ik alvast wat info heb over wat ik bij dat icon wil.
-->
