<% include ../static/header.ejs %>
<div class="col-md-4 main">
<h2>Groeien op Twitch</h2>
<p>

<b>Beginnende streamer</b><br>
Als beginnende streamer kan je al redelijk wat doen om zelf te groeien. Dit kan je doen door leuke follow notificaties te maken
en origineel te zijn. Hiernaast helpt het ook wel om goeie contacten met andere streamers te hebben. Wees wel slim en ga niet
zomaar in een andere stream jouw eigen stream promoten, meestal kan je dan een ban verwachten.
<br><br>

<b>Affilate</b><br>
Zodra je lang genoeg en actief gestreamed hebt, kan je worden uitgekozen door Twitch om een Affiliate te worden. Hiervan krijg
je een mailtje of zie je op je dashboard staan. Nadat je een aantal formulieren hebt ingevuld, kan je aan de slag gaan als een 
echte Twitch Affiliate. Als Affiliate heb toegang tot extra functies die helpen met streamen en het groter maken van je stream.
Een aantal van deze features kan je in de tabel hiernaast zien.
<br><br>

<b>Partner</b><br>
Als je eenmaal groot genoeg bent geworden op Twitch en je jezelf hebt bewezen als Affiliate, kan je een Twitch Partner worden.
Als partner heb je toegang tot nog meer features dan Affiliates. Ook zal je makkelijker en meer contact hebben met Twitch zelf.
Om een Partner te worden is wel makkelijker gezegd dan gedaan. Je moet actief streamen en ook een redelijke viewerbase hebben.
Je kan je opgeven via <a href='https://www.twitch.tv/partner/signup' target="_blank">deze</a> link waar je ook meer informatie kan vinden. Elke staff member behandeld
partner verzoeken op zijn eigen manier, dus je weet nooit echt de benodigdheden.
<br><br>

<b>Abonneren</b><br>
Als Twitch partner of Affiliate heb je dus een abonneer knop op je pagina staan. Dit is een van je inkomstenposten op Twitch. 
Er zijn meerdere abonnee types. Je kan 1x per maand "gratis" met Twitch Prime subben op een streamer. Hiernaast zijn ook
nog drie betaalde varianten mogenlijk. Deze kosten 5, 10 en 25 dollar (excl. 21% BTW). De 10 en 25 dollar subs verschillen
alleen in een extra emote per type. Bij de 25 dollar variant krijg je ook de emote van 10 dollar. Het maakt niet uit hoeveel
je betaald voor je sub, het gaat vooral om het supporten van je favoriete streamer! <br>
Als Affiliate krijg je altijd 50/50 van de inkomsten van je subs. Als partner krijg je een verschillend aantal per sub type.
Bij 5 dollar 50/50, bij 10 dollar 60/40 en bij 25 dollar 70/30. Al het overige geld gaat naar Twitch zelf.
<br><br>

<b>Verschil tussen Affilate en Partner</b><br>
In de tabel hiernaast staan een groot aantal verschillen tussen Affiliates en Partners. Dit is echter niet alles. Zo kan een 
Affiliate niet zijn eigen sub badge toevoegen of een eigen sub emote voorvoegsel maken. Als Partner kan dit wel. Een partner
die ook in de afgelopen 90 dagen geen problemen heeft gehad met de regels van Twitch kan ook zijn eigen emotes toevoegen zonder
eerst gecontroleerd te worden door Twitch. Als Affiliate moet dit wel.
</p>
</div>

<img src="http://i.imgur.com/ZeAVPHZ.png" id="pa"><br><a href='https://help.twitch.tv/customer/nl/portal/articles/2785927-joining-the-affiliate-program' target='_blank'>Klik hier</a> voor meer informatie</img>

</div></div>
</body>