<% include ../static/header.ejs %>
<div class="main">
<h2>Twitch Guide</h2>
<p>Welkom op de website van de Nederlandse Twitch guide. Op deze website kan je informatie vinden over alles en nogwat dat te maken heeft met Twitch.</p>
<p>
<b>Waarom deze website?</b><br>
In de afgelopen maanden is mij opgevallen dat Twitch steeds meer aan het groeien is. Er komen namelijk veel nieuwe mensen van YouTube vandaan omdat ook steeds meer YouTubers soms streamen op Twitch. Dit brengt een groot publiek mee, wat bestaat uit vooral nieuwe kijkers. Als iemand die al een langere tijd op Twitch actief is, valt het op dat deze nieuwe mensen niet altijd snappen hoe Twitch werkt. Dit komt met name omdat deze mensen gewend zijn om YouTube te kijken. Het doel van deze website is om deze nieuwe mensen te helpen bij het ontdekken van Twitch.	
</p>
</div>
</body>