<% include ../static/header.ejs %>
<div class="submain">
  <h2>Hoe ga je zelf live</h2>
  <p>
    Misschien heb je al veel livestreams gekeken en wil je zelf is live gaan op Twitch. Iedereen kan dit namelijk gewoon doen! Het is
    erg makkelijk, maar het duurt wel even voordat alles goed is geregeld. Om je hiermee te helpen, staat er op deze pagina een guide.
  </p>
</div>
<div class="submain">
  <h3>Stap 1: Maak een Twitch account aan</h3>
  <p>
    Dit is een redelijk logische en makkelijke eerst stap. Ga naar <a href="https://www.twitch.tv/" target="_blank">twitch.tv</a>
    en klik op 'Registeren'. Vul kloppende gegevens in, want die kan je niet zomaar weer veranderen. Onthoudt dat je alleen een Twitch
    account mag aanmaken als je minimaal 13 jaar oud bent. Als je dit hebt ingevuld krijg je een e-mail ter bevestinging dat je een account
    hebt aangemaakt. Vergeet niet deze te bevestigen, want anders werkt je Twitch account niet 100%.<br>
    <i>De hoofdletters in je gebruikersnaam kan je altijd veranderen, maar de naam zelf kan maar eens per 60 dagen veranderd worden.
      Dit kan je doen via je <a href="https://www.twitch.tv/settings" target="_blank">Twitch Settings</a>.</i>
  </p>
</div>
<div class="submain">
  <h3>Stap 2: Download software om te streamen</h3>
  <p>
    De meeste mensen gebruiken OBS om te streamen. Dit komt omdat het erg handig werkt en ook nog gratis is. Het beste is om zelf
    verschillende type software uit te proberen en dan om de beste te kiezen. Twitch heeft <a href="https://www.twitch.tv/broadcast" target="_blank">
    hier </a> zelf een aantal voorbeelden van livestream software. De meesten kosten geld, dus daarom wordt het vooral aangeraden om OBS te gebruiken.
    In deze guide zullen er ook voorbeelden gegeven worden met OBS.
  </p>
</div>
<div class="submain">
  <h3>Stap 3: Livestream settings</h3>
  <p>
    Nu je een account en software hebt om te streamen, moet je wel je software goed instellen. Het belangrijkste wat je nodig zal hebben
    voor het streamen is je streamkey. Dit is een code waarmee je met elke software live kan gaan op jouw kanaal. Het is erg belangrijk om
    deze code prive te houden omdat als andere mensen beschikking hebben over deze code, hun live ook live kunnen gaan op jouw kanaal, wat
    niet de bedoeling is. De streamkey kan je invullen bij OBS via de settings knop, dan naar 'Broadcast Settings' (3de kopje). Hier moet je
    dan de modus op 'Live Stream' zetten en als 'Streaming Service' Twitch. De 'FMS URL' hier staat voor de server waar jij naar toe streamed.
    Als je in Nederland woont, kan je het beste streamen naar London, Amstedam of Frankfurt. Voor de rest hoef je hier niks te veranderen als je
    er niks vanaf weet. <br><br>
    Als je dit allemaal hebt ingevuld, moet je naar 'Encoding' (2de kopje) gaan. Hier kan je de kwaliteit van je stream deels instellen. Hier moet
    je vooral letten op de Max Bitrate. Dit heeft te maken met je internet snelheid. Twitch staat tot 6000 kb/s (6 mb/s) toe, maar lang niet iedereen kan zo goed
    streamen. Doe eerst een <a href="http://www.speedtest.net/" target="_blank">speedtest</a> om erachter te komen hoe goed je upload snelheid is. Zodra
    je dit hebt gedaan, kan je je encoding settings hierop aanpassen. Twitch zelf heeft een aantal presets staan op <a href="https://stream.twitch.tv/" target="_blank">
    deze</a> website. Het is aangeraden om deze presets aan te houden. Een aantal van de preset settings staan onder het kopje 'Video' (4de kopje). Als
    je meer wilt weten over het instellen van je OBS of andere livestream software, kijk dan even op
    <a href="https://help.twitch.tv/customer/portal/articles/1253460-broadcast-requirements" target="_blank">deze </a> website. Het beste is om veel tijd te
    steken in het uitproberen van verschillende settings om de beste kwaliteit stream te krijgen.
  </p>
</div>
<div class="submain">
  <h3>Stap 4: Scene's instellen</h3>
  <p>
    Nu je instellingen goed staan, moet je wel je gameplay kunnen streamen. Om dit te doen moet je scene's instellen waar je dit opneemt. In OBS moe je
    in de 'Scenes' balk moet je met je rechtermuisknop klikken en klik dan op 'Add scene'. In de 'Sources' balk kan je je programma's selecteren die je wilt
    streamen. Dit kunnen games zijn, maar ook webcams of andere dingen. Hierover kan je meer vinden op
    <a href="https://help.twitch.tv/customer/portal/articles/1262922-open-broadcaster-software#ScenesSources" target="_blank">deze</a> website.
  </p>
</div>
<div class="submain">
  <h3>Stap 5: Alerters instellen</h3>
  <p>
    Voordat je gaat streamen is het handig om alerters aan te zetten. Een alerter laat op je stream zien wanneer iemand je volgt, host, of doneert. Dit
    kan je allemaal zelf aanpassen. Zorg ervoor dat je een leuke follow alert hebt, zodat mensen jouw stream willen volgen en dus ook willen blijven kijken.
    Er zijn veel verschillende website's die deze service aanbieden. Een aantal voorbeelden zijn <a href="https://streamlabs.com/" target="_blank">
    Streamlabs</a>, <a href="https://streamelements.com/" target="_blank">Stream Elements</a> en
    <a href="https://www.tipeeestream.com/" target="_blank">TipeeeStream</a>. Het beste is om zelf even wat onderzoek te doen naar wat jij de beste website
    hiervoor vindt. De alerts kan je het beste via een CLR browser in je livestream software doen. De CLR plugin voor OBS kan je
    <a href="https://obsproject.com/forum/resources/clr-browser-source-plugin-obs-classic-only.22/">hier</a> downloaden.
  </p>
</div>
<div class="submain">
  <h3>Stap 6: Live gaan</h3>
  <p>
    Nu alles klaar staat, kan je eindelijk live gaan! Dit doe je door op 'Start streaming' te klikken. Je streamed hiermee direct naar jou twitch pagina.
    Open je dashboard door naar je twitch kanaal url te gaan en '/dashboard' toe te voegen. Hier kan je je game, titel, community en taal zetten. Door deze
    goed te zetten, kan je meer mensen overtuigen om naar jou stream te gaan kijken. De taal moet je zetten op de taal die je spreekt tijdens je stream. Het is
    namelijk niet fijn voor iemand die op zoek is naar een Nederlandse stream dan jouw stream vindt terwijl je alleen maar Engels praat. Op je dashboard kan je
    ook statestieken van je stream vinden zoals het aantal live kijkers, het totaal aantal mensen dat ooit naar jou stream heeft gekeken en je volgers. Op je
    dashboard kan je ook het belangrijkste van je stream vinden, je chat.
  </p>
</div>
<div class="submain" style="margin-bottom:20px;">
  <h2>Overige tips</h2>
  <p>
    1. Zorg dat je veel interactie hebt met je chat. Meer chat interactie = meer mensen die willen blijven kijken<br>
    2. Heb je moderation in orde. Maak alleen mensen mod die jij vertrouwd en voeg niet random bots toe aan je kanaal. Zorg er wel voor dat je een
    chatbot hebt die wat moderation voor je doet, zoals Nightbot of Moobot.<br>
    3. Denk niet dat je met je eerste stream al meteen honderden kijkers krijgt. Groeien op Twitch kan erg moeilijk zijn, dus geef niet meteen op na een
    aantal streams. Goede contacten met andere streamers hebben kan wel altijd helpen met groeien.<br>
    4. Ga niet jezelf promoten in iemand anders zijn stream. Dit kan meestal alleen maar een negatief effect hebben op jouw stream en je kijkers.<br>
    5. Zorg ervoor dat mensen weten wanneer jij live gaat. Heb een stream schema en tweet je stream zodra je live gaat.<br>
    6. Probeer te blijven praten tijdens je stream. Mensen kijken liever iemand die veel praat dan iemand die alleen maar stil zit te gamen. Als je praten
    moeilijk vindt, zet dan wat muziek op de achtergrond aan om het gezellig te houden.<br>
    7. Zorg ervoor dat er duidelijk regels zijn in je stream. Deze kan je neerzetten in een van de info panels onder je stream.<br>
    8. Zet <abbr title="2 Factor Authentication">2FA</abbr> aan. Met 2FA heb je een extra stap, je mobiel, nodig om in te loggen op je Twitch account. Dit zorgt voor wat extra
    beveiliging. Als streamer is het handig om mods te hebben die allemaal 2FA gebruiken om misbruik van het account te voorkomen. Lees
    <a href="https://help.twitch.tv/customer/nl/portal/articles/2186271-authenticatie-via-two-factor-met-authy" target="_blank">hier</a> hoe je 2FA aan moet zetten.
  </p>
</div>
</div></div>
</body>
