<% include ../static/header.ejs %>
<div class="col-md-4 main">
<h2>Plugins voor Twitch</h2>
<p>
  Twitch zelf is al heel erg goed, maar het kan altijd beter. Met behulp van
  Better Twitch TV en FrankerFaceZ kan je jou chat en Twitch experience verbeteren.
  Deze plugins voegen namelijk extra emotes toe, verbeteren het uiterlijk van Twitch
  en nog veel meer!<br><br>

  <b>BTTV</b><br>
  Better Twitch TV, beter bekend als BTTV, is een plugin voor Twitch. Met deze plugin kan je je ervaring op Twitch verbeteren.
  Zo kan je de gehele website op 'Dark mode' zetten en kan je je chat mooier maken. Het belangrijkste van BTTV is het toevoegen
  van nieuwe emotes in je chat. Er zijn een aantal globale emotes die iedereen heeft, maar elk kanaal kan ook zelf 5 emotes instellen.
  Een belangrijk iets dat je wel moet weten met BTTV is dat 'LUL' een emote is, niet mensen die schelden met lul. Dit zijn onderanderen
  GIF emotes. Deze moet je wel eerst in je instellingen aanzetten. Dit kan door in je chat op het tandwieltje te drukken en dan op
  BetterTTV settings te klikken. Je kan ook een kopie maken van je settings voor als je deze kwijt raakt.<br>
  <i>Als je 4,99 per maand betaald voor BTTV kan je extra emotes aan je kanaal toevoegen en 5 extra globale emotes unlocken.</i><br>
  <a href="https://nightdev.com/betterttv/" target="_blank">Website</a>
  <br><br>

  <b>FFZ</b><br>
  FrankerFaceZ, beter bekend als FFZ, is ook een plugin voor Twitch. Het doet voor een groot deel hetzelfde als BTTV, maar heeft
  wat extra dingen. Zo kan je andere dingen instellen om streams kijken nog fijner en overzichtelijker te maken. Ook kan je per kanaal
  standaard 25 custom emotes toevoegen ipv de 5 van BTTV. BTTV heeft echter meer globale emotes. Ook kan je voor FFZ een pro mode kopen
  waarmee je extra custom emotes kan toevoegen aan je kanaal.<br>
  <a href="http://www.frankerfacez.com/" target="_blank">Website</a>

<!-- Hier komt nog een column met foto's van hoe het er met BTTV / FFZ eruit ziet en maybe nog wat emote examples. Gallery? -->

</p>
</div>
</body>
