<% include ../static/header.ejs %>
<div class=".col-md-6 submain">
<h2>Twitch navigatie</h2>
  Op Twitch zijn heel veel livestreams te vinden. Om nieuwe streams beter vindbaar te maken,
  heeft Twitch het mogelijk gemaakt om je stream in een bepaalde categorie te zetten.
  Dit kan je doen door te streamen onder een bepaalde game, te streamen in een community en nog
  meer. In elke categorie die je vindt kan je selecteren op taal van de streamer. Je kan dus ook
  alleen Nederlandse kanalen doorzoeken.
</div>

<div class=".col-md-6 submain">
<b>Volgend</b><br>
  Dit is de makkelijkste manier om kanalen te vinden. Dit zijn namelijk de kanalen die jij zelf volgt. Je
  kan ze heel gemakkelijk terug vinden aan de linkerkant van Twitch.
</div>

<div class=".col-md-6 submain">
<b>Clips</b><br>
  Op Twitch kan je tijdens het kijken van een stream zelf korte highlights maken. Dit worden clips genoemd en kan je gemakkelijk terug
  vinden op <a href="https://clips.twitch.tv/my-clips" target="_blank">deze</a> pagina. Je kan ook alle clips van een bepaalde
  streamer bekijken door naar de stream page te gaan en dan op de Clips tab te klikken.
</div>

<div class=".col-md-6 submain">
<b>Community's</b><br>
  Community's zijn groepen waaronder je kan streamen. Deze hebben vaak een bepaald onderwerp, zoals gevarieerd streamen, speedrunnen
  of je kan ook gewoon onder de nederlandse community; TwitchNL. Als je streamed in zo'n community, kunnen andere mensen jou stream
  makkelijker vinden of kan jij sneller een stream vinden die goed bij jou past. Je kan ook je eigen community maken, maar het is dan
  wel moeilijk om deze te vinden. Daarom wordt het aangeraden om onder een bestaand community te streamen. Door de vele zelfgemaakte
  community's kan je ook naar featured community's kijken. Dit zijn community's die door Twitch zelf zijn gemaakt of door Twitch is
  goedgekeurd. Hier zit je altijd goed!<br>
  Als je eenmaal streamed in een community, moet je je wel aan de regels houden. Deze staan vermeld op de community pagina. Hier kan je ook
  meer informatie vinden over de community. Als je merkt dat iemand zich niet aan de regels houdt, stap dan naar de community eigenaar of
  moderators. Dit kan je ook doen als je wat vragen hebt over de community. Soms staan deze mensen vermeld op de community pagina, maar soms ook niet.<br>
  Wil je meer informatie over community's? Ga dan naar <a href="https://nl.blog.twitch.tv/communitys-zijn-hier-ontdek-streams-sneller-dan-ooit-te-voren-2fdf9099eeea#.nuwj6s22j" target="_blank">
  deze blogpost</a>.
</div>

<div class=".col-md-7 submain">
<b>Games</b><br>
  Onder deze categorie kan je streamers zien die allemaal dezelfde game spelen. Als je deze aan het browsen bent, zal je al snel games zoals
  League of Legends, FIFA en Overwatch. Het is moeilijk om wat meer onbekende games hier te vinden. Zodra je een game hebt gevonden, zal je
  eerst alle grote streamers zien en daarna pas de wat kleinere.
</div>

<div class=".col-md-6 submain">
<b>Populair</b><br>
  Hier staan alle livestreams ongefiltered. Je kan dus alle games, talen, mensen door elkaar zien. Het staat standaard op volgorde van meest bekeken
  livestream. Hier kan je naast taal selecteren ook platform selecteren. Je kan dus ook sorteren op streams per console zoals PS4 en Xbox One. Ook kan je
  kijken naar videos en "VODs" die mensen hebben geupload op Twitch. Video's kan je uploaden sinds kort en VODs zijn streams die al zijn geweest.
</div>

<div class=".col-md-6 submain">
<b>Creative</b><br>
  Deze sectie op Twitch bestaat volledig uit livestreams van mensen die onder "Creative" streamen. Mensen die dit doen gamen niet, maar doen iets creatiefs.
  Dit kan onder anderen muziek maken, tekenen of programmeren zijn. Je kan echt bijna alles hier doen. Onder de creative sectie staan deze community's.
</div>

<div class=".col-md-6 submain">
<b>Discover</b><br>
  Hier kan je nieuwe livestreams vinden die je waarschijnlijk nog niet eerder hebt gezien. Deze zijn gebasseerd op andere streams die je al eens eerder
  hebt bekeken. Neem hier dus af een toe een kijkje voor als je geen idee hebt naar wie je wilt kijken.
</div>
</body>
