<% include ../static/header.ejs %>
<div class="col-md-4 main" id="abTwitch">
<h2>Wat is Twitch?</h2>
<p>
  Twitch is waarschijnlijk wel het bekendste platform voor gaming livestreams. Het staat vooral bekend
  om de interactie tussen de kijker en de streamer zelf. Je kan namelijk via de chat (met een delay /
  vertraging van zo'n 15 seconden) praten met de streamer en ook invloed hebben op de stream. Ook wordt
  de chat zelf in de gaten gehouden door moderators. Dit zijn (vaak) vrijwilligers die de helpen de chat
  rustig en schoon te houden. Zodra iemand zich niet gedraagd zijn deze mensen er om deze persoon een time-out
  te geven. Zodra een streamer partner is, kan deze een abonneer knop krijgen. Het is belangrijk om te weten
  dat het volgen van een stream gelijk staat aan abonneren op YouTube. Als je op een partner aboneert krijg jij
  allemaal speciale dingen. <i>Klik op Abonneren in de afbeelding voor meer info</i>
  <br><br>
  Hiernaast staat een foto van de Twitch pagina van Twitch zelf. Ga met je muis over onderdelen, scroll wat naar benenden
  en klik op de opgelichte delen van de foto. <b>Zodra je dit doet, krijg je een popup met wat informatie over dit onderdeel van de pagina!</b>
</p>
</div>
<div class="col-md-7 aboutTwitch">
<img src="http://i.imgur.com/nTsvXjT.png">
<div class="click" id="followSub"></div>
<div class="click" id="channelInfo"></div>
<div class="click" id="aanbevolen"></div>
<div class="click" id="infoPanels"></div>
<div class="click" id="feed"></div>
<div class="click" id="meerTwitch"></div>
<div class="click" id="volgenBladeren"></div>
<div class="click" id="vrienden"></div>
<div class="click" id="titleGame"></div>
<div class="click" id="playerVod"></div>
<div class="click" id="chat"></div>
<div class="click" id="login"></div>
</div>
<div id="modal">
  <div id="modalInfo">
    <span id="modalText"></span>
    <img id="modalImg" src="">
  </div>
</div>
</body>
<script type="text/javascript" src="./watis.js"></script>
<link rel="stylesheet" type="text/css" href="./watis.css">
