<% include ../static/header.ejs %>
<div class="main" id="abTwitch">
<h2>Wat is Twitch?</h2>
<p>
  Basic uitleg over het platform.
  Geschiedenis, updates, informatie etc.
  Maybe ook wat basic ethics + hoe follow / sub werkt.
</p>
</div>
<div id="aboutTwitch"><img src="http://i.imgur.com/oCuU10C.png"></div>
</body>

<!--
De pagina heeft naast de uitleg ook een plaatje met hoe het er normaal uitziet. Je kan op bepaalde plekken van de img klikken
voor meer info over dat onderdeel op de Twitch pagina. Zo leren mensen al hoe het eruit ziet en werkt.
-->
