<% include ../static/header.ejs %>
<div class="main" id="abTwitch">
<h2 id="xD">Wat is Twitch?</h2>
<p>
  Twitch is waarschijnlijk wel het bekendste platform voor gaming livestreams. Het staat vooral bekend
  om de interactie tussen de kijker en de streamer zelf. Je kan namelijk via de chat (met een delay /
  vertraging van zo'n 15 seconden) praten met de streamer en ook invloed hebben op de stream. Ook wordt
  de chat zelf in de gaten gehouden door moderators. Dit zijn (vaak) vrijwilligers die de helpen de chat
  rustig en schoon te houden. Zodra iemand zich niet gedraagt zijn deze mensen er om deze persoon een time-out
  te geven. Zodra een streamer partner is, kan deze een abonneer knop krijgen. Het is belangrijk om te weten
  dat het volgen van een stream gelijk staat aan abonneren op YouTube. Als je op een partner aboneert krijg jij
  allemaal speciale dingen. <i>Klik op Abonneren in de afbeelding voor meer info</i>
  <br><br>
  <b>Hosten & raids</b><br>
  Iets wat veel kanalen doen is het hosten van een streamer. Zodra een streamer een ander kanaal host, kan je de stream van
  dit andere kanaal zien van bij hoster. Een ander kanaal wordt vaak gehost aan het einde van een stream. De streamer kan dan
  bijvoorbeeld zeggen de chat een stream moet gaat 'raiden'. Hiermee wordt bedoelt dat je met de gehele chat naar die andere stream
  moet gaan om deze persoon te kijken. Dit is erg leuk om te doen, maar onthoudt dat de elke chat anders is en niet elek chat
  het fijn vindt om spam te hebben. Houdt daarom rekenening met de andere chat zodra er iemand wordt geraid. De chat van de originele
  streamer kan de gehoste streamer echter niet lezen, dus ga naar dat kanaal toe om te praten met die streamer en zijn chat.
  <br><br>
  <b>Uitgebreid uitgelegd</b><br>
  Hieronder staat een foto van een livestream pagina. Ga met je muis over onderdelen, scroll wat naar benenden
  en klik op de opgelichte delen van de foto. <b>Zodra je dit doet, krijg je een popup met wat informatie over dit onderdeel van de pagina!</b>
  Als je niet alle informatie over een bepaald onderdeel kan vinden op deze pagina, neem dan nog even een kijkje
  <a href="https://help.twitch.tv/customer/nl/portal/articles/2580258-kanaalpaginagids" target="_blank">naar dit arikel</a>.
</p>
</div>
<div class="aboutTwitch">
<img src="http://i.imgur.com/kRAqV3l.png" style="width:1080px;height:1080px;">
<div class="click" id="whispers"></div>
<div class="click" id="followSub"></div>
<div class="click" id="nuLive"></div>
<div class="click" id="channelInfo"></div>
<div class="click" id="aanbevolenKanalen"></div>
<div class="click" id="aanbevolenVrienden"></div>
<div class="click" id="infoPanels"></div>
<div class="click" id="feed"></div>
<div class="click" id="login"></div>
<div class="click" id="volgenBladeren"></div>
<div class="click" id="vrienden"></div>
<div class="click" id="titleGame"></div>
<div class="click" id="playerVod"></div>
<div class="click" id="chat"></div>
</div>
<div id="modal">
  <div id="modalInfo">
    <span id="modalText"></span>
    <img id="modalImg" src="">
  </div>
</div>
</body>
<script type="text/javascript" src="./watis.js"></script>
<link rel="stylesheet" type="text/css" href="./watis.css">
